<div class="container-fluid" >
	<br>
	<br>
	<br>
	<h1><span>CONTÁCTANOS</span></h1>
	<br>
	<br>
	<br>
	<form>
		<div class="user-box">
			<label>Nombre*</label>
			<input type="text" name="" placeholder="Ingresa tu nombre" required>
		</div>
		<div class="user-box">
			<label>Correo*</label>
			<input type="email" name="" placeholder="Ingresa tu email" required>
		</div>
		<div class="user-box">
			<label>Asunto</label>
			<input type="text" name="" required="" placeholder="Escribe tu asunto">
		</div>
		<div class="user-box">
			<label>Mensaje</label>
			<textarea type="text" name="" required="" placeholder="Escribe tu mensaje aqui..."></textarea>
	
		</div>
		<button class="button" type="button">Enviar</button>
	  </form>
</div>