<div class="container-fluid" >
	<br>
	<br>
	<br>
	<h1><span>CONTÁCTANOS</span></h1>

	<br>
	<div class="form-box">
		
		<form>
			<div class="form">
				
			</div>
			<div class="user-box">
				<label>Nombre*</label>
				<br>
				<input type="text" name="" placeholder="Ingresa tu nombre" required>
			</div>
			<div class="user-box">
				<label>Correo*</label>
				<br>
				<input type="email" name="" placeholder="Ingresa tu email" required>
			</div>
			<div class="user-box">
				<label>Asunto</label>
				<br>
				<input type="text" name="" required="" placeholder="Escribe tu asunto">
			</div>
			<div class="user-box">
				<label>Mensaje</label>
				<br>
				<textarea type="text" name="" required="" placeholder="Escribe tu mensaje aqui..."></textarea>
		
			</div>
			<button class="button" type="button">Enviar</button>
			<br>
		</form>
	</div>
</div>