<nav class="navbar navbar-expand-sm navbar-white bg-white">
    <div class="container">
        <a class="navbar-brand" >
            <img src="https://static.wixstatic.com/media/64758e_c5bf883eb96a4c4d8c73f327041fcfb5~mv2.png/v1/fill/w_166,h_67,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/logo-COOLEVER.png" alt="" >
        </a>
        
        
        <ul class="nav justify-content-end">
            <li routerLink="Coolever/Home" class="nav-item">
                <a class="nav-link"  routerLink="Coolever/Home">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" >Resoluciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" >Actualizar Datos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" >Registro Dian</a>
            </li>
            <li routerLink="Coolever/Contact" class="nav-item">
                <a class="nav-link" routerLink="Coolever/Contact">Contacto</a>
            </li>
        </ul>
            
    
    </div>
</nav>
