.firts-mesage{
    display: grid;
    height: 220px;
    background-color: cadetblue;

}
h1{
    position: relative;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 120px;
    text-align: center;
    font-size: 65px;
    font-weight: 300;

}
.grid-container {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
