<app-navbar></app-navbar>
<div class="firts-mesage">
    <h1>COOPERATIVA DE AHORRO Y CRÉDITO</h1>
</div>

<div class="stoper"><br><br><br></div>
<div class="grid-container">
    <div class="grid-item">
        <button class="button-downlad">Descargar <fa-icon [icon]="faCircleDown" class="icon-download"></fa-icon></button> 
    </div>
    <div class="grid-item">
        <button class="button-downlad">Descargar  <fa-icon [icon]="faCircleDown" class="icon-download"></fa-icon><i class="fa-solid fa-circle-down"></i></button> 
    </div>
    <div class="grid-item">
        <button class="button-downlad">Descargar  <fa-icon [icon]="faCircleDown" class="icon-download"></fa-icon><i class="fa-circle-down"></i></button> 
    </div>  
    
</div>